$primary: #007bff;
$primaryShadow: (0, 123, 255, 0.8);
$primaryHover: #0056b3;

/* button */
$buttonPrimaryDisabled: rgba(38, 143, 255, 0.5);
$buttonDefaultHover:#212529;
$buttonDefaultFocus: rgba(0, 123, 255, 0.25);

/* utils */
$textDefault: #212529;
$borderDefault: #dee2e6;


