$XS: 'XS';
$SM: 'SM';
$MD: 'MD';
$LG: 'LG';
$XL: 'XL';

$BREAKPOINT: (
		$XS: (min-width: 576px),
		$SM: (min-width: 768px),
		$MD: (min-width: 992px),
		$LG: (min-width: 1200px),
		$XL: (min-width: 1887px)
	)
	!default;

@mixin breakpoint($breakpoint) {
	@if map-has-key($BREAKPOINT, $breakpoint) {
		@media #{inspect(map-get($BREAKPOINT, $breakpoint))} {
			@content;
		}
	} @else {
		@warn "Available breakpoints: #{map-keys($BREAKPOINT)}. Current breakpoint is '#{$breakpoint}'";
	}
}

// ------- device breakpoint -------

$XS-DEVICE: 'XS-DEVICE';
$SM-DEVICE: 'SM-DEVICE';
$MD-DEVICE: 'MD-DEVICE';
$LG-DEVICE: 'LG-DEVICE';
$XL-DEVICE: 'XL-DEVICE';

$DEVICE-BREAKPOINT: (
		$XS-DEVICE: "(max-width: 575px)",
		$SM-DEVICE: "(min-width: 576px) and (max-width: 767.98px)",
		$MD-DEVICE: "(min-width: 768px) and (max-width: 991.98px)",
		$LG-DEVICE: "(min-width: 992px) and (max-width: 1199.98px)",
		$XL-DEVICE: "(min-width: 1200px)"
	)
	!default;

@mixin device-breakpoint($device) {
	@if map-has-key($DEVICE-BREAKPOINT, $device) {
		@media #{inspect(map-get($DEVICE-BREAKPOINT, $device))} {
			@content;
		}
	} @else {
		@warn "Available breakpoints: #{map-keys($DEVICE-BREAKPOINT)}. Current breakpoint is '#{$device}'";
	}
}
